*.iml
.gradle
.idea/
.kotlin/
.codex/
.agents/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle/gradle-daemon-jvm.properties
*.tar.gz
*.zip
